backend:
  name: git-gateway
  branch: main

local_backend: true
# change url to a link to the image you want to use, no file paths, must be a URL
logo_url: https://codestitch.app/frontend/images/logo.png

media_folder: "public/assets/images/uploads"
public_folder: "/assets/images/uploads"

collections:
  - name: "blog"
    label: "Blog"
    folder: "src/content/blog"
    create: true
    slug: "{{slug}}"
    fields:
      - { label: "Titre", name: "title", widget: "string" }
      - { label: "Description", name: "description", widget: "string" }
      - { label: "Auteur", name: "author", widget: "string" }
      - { label: "Date", name: "date", widget: "datetime" }
      - { label: "Tags", name: "tags", widget: "list", default: ["post"] }
      - { label: "Image", name: "image", widget: "image" }
      - { label: "Légende", name: "imageAlt", widget: "string" }
      - { label: "Corps", name: "body", widget: "markdown" }
  
  - name: "a-propos"
    label: "A propos"
    folder: "src/content/a-propos"
    create: true
    slug: "{{slug}}"
    fields:
      - { label: "Titre", name: "title", widget: "string" }
      - { label: "Description", name: "description", widget: "string" }
      # - { label: "Auteur", name: "author", widget: "string" }
      # - { label: "Date", name: "date", widget: "datetime" }
      # - { label: "Tags", name: "tags", widget: "list", default: ["post"] }
      # - { label: "Image", name: "image", widget: "image" }
      # - { label: "Légende", name: "imageAlt", widget: "string" }
      - { label: "Corps", name: "body", widget: "markdown" }

